        @charset "utf-8";
        /* CSS Document */

        /* @import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap'); */
        body {
            margin: 0;
            padding: 0;
            font-family: 'Lato', sans-serif;
            /* background: #e4e7ea; */
        }

        a:hover {
            text-decoration: none
        }

        .main {
            width: 100%;
            float: left;
        }

        .adinfull {
            float: left;
            width: 100%;
            padding: 15px;
            background: #e4e7ea;
        }

        .addinname h1 {
            font-size: 23px;
            float: left;
            font-weight: bold;
        }

        .uploaddocadin {
            float: right;
            width: auto;
        }

        .uploaddocadin button {
            background: #ef7e3b;
            border: none;
            padding: 10px 20px;
            color: #fff;
            outline: none;
            margin-left: 10px;
        }

        button.blue-btn {
            background-color: #29C0D4;
            border-color: #29C0D4;
        }

        button.cancel-btn {
            background: #e4e7ea;
            border-color: #e4e7ea;
            color: #212529;
        }

        .editlogic {
            float: left;
            width: 100%;
            background: #fcfcfc;
            padding: 15px;
            margin-bottom: 15px;
        }

        .variable-type-sub {
            float: left;
            width: 26%;
            padding-right: 15px;
        }

        .addinname {
            float: left;
            width: 100%;
            margin-bottom: 15px;
        }

        .card-header button i.fas.fa-caret-down {
            display: inline-block;
        }

        .card-header button i.fas.fa-caret-right {
            display: none;
        }

        .card-header button.collapsed i.fas.fa-caret-down {
            display: none;
        }

        .card-header button.collapsed i.fas.fa-caret-right {
            display: inline-block;
        }

        .collaspeinner .btn-link {
            font-weight: 400;
            color: #21252a;
            background-color: transparent;
            text-decoration: none;
            padding: 0;
            font-size: 16px;
            width: auto;
            font-weight: bold;
            text-align: left;
        }

        a.scopeadd {
            float: left;
            width: 100%;
            font-size: 16px;
            color: #29c0d4;
        }

        .collaspeinner .btn-link i {
            float: left;
            margin-right: 10px;
            line-height: 22px;
        }

        .card {
            background-color: #fcfcfc;
        }

        .userimg {
            margin-bottom: 20px;
            float: left;
        }

        .userimg img {
            float: left;
            max-width: 100px;
        }

        select {
            -moz-appearance: none !important;
            background-image: url(../images/drop.png)!important;
            background-position: 90% 51%;
            background-repeat: no-repeat;
            border: medium none;
            color: #868686;
            cursor: pointer;
            -webkit-appearance: none !important;
            appearance: none !important;
            border-radius: 0px;
            font-size: 14px;
            border: 1px solid #EEEEEE;
            letter-spacing: 0.5px;
            padding: 10px;
            width: 100%;
            border-radius: 5px;
        }

        .collaspeinner h5 span i {
            float: revert;
            font-size: 14px;
            margin-left: 8px;
            color: #29c0d4;
        }

        .question-main-sec {
            float: left;
            width: 100%;
            border-radius: 5px;
            background: #fff;
            margin-bottom: 15px;
        }

        .question-action {
            float: left;
            width: 80px;
            padding: 10px;
        }

        .question-data {
            float: left;
            width: 91%;
            padding: 20px;
            position: relative;
            border-left: 1px solid #EEEEEE;
        }

        span.question-serial {
            text-align: center;
            display: inline-block;
            width: 100%;
            font-size: 16px;
            color: #175D7D;
            font-weight: bold;
            margin-bottom: 15px;
        }

        button.action-edit {
            background: no-repeat;
            border: none;
            font-weight: 400;
            font-size: 14px;
            text-align: center;
            display: inline-block;
            width: 100%;
            margin-top: 0px;
            margin-bottom: 10px;
            cursor: pointer;
            outline: none;
            color: #282828;
        }

        button.action-edit i {
            text-align: center;
            width: 100%;
            display: inline-block;
            padding-bottom: 5px;
            color: #F29757;
            font-size: 18px;
        }

        .namerinterviewfield {
            float: left;
            width: 100%;
        }

        input[type=text] {
            font-size: 14px;
            color: #282828;
            background: #FFFFFF;
            border: 1px solid #EEEEEE;
            padding: 10px;
            padding-right: 35px;
            width: 100%;
            border-radius: 5px;
            outline: none;
        }

        .variable-type {
            float: left;
            width: 100%;
            padding-top: 15px;
        }

        .variable-type-sub {
            float: left;
            width: 26%;
            padding-right: 15px;
        }

        .yesnobutton {
            float: left;
            width: 100%;
        }

        button.yesbutton {
            float: left;
            width: 100%;
            padding: 8px 8px;
            border: none;
            color: #212529;
            outline: none;
        }

        button.nobutton {
            float: left;
            width: 100%;
            padding: 8px 8px;
            border: none;
            color: #212529;
            outline: none;
        }

        button.nobutton:focus {
            background: #ef8181;
            color: #fff;
        }

        button.yesbutton:focus {
            background: #4e925c;
            color: #fff;
        }

        a.scrorebtn {
            float: right;
            background: #29c0d4;
            font-size: 16px;
            color: #fff;
            padding: 10px 15px;
            /* line-height: 14px; */
            position: absolute;
            right: 10px;
            top: -5px;
        }

        a.scrorebtn.morebtn {
            right: 90px;
        }

        .questionul {
            float: left;
            width: 100%;
            margin-top: 20px;
        }

        .questionul li {
            float: left;
            width: 20%;
            list-style: none;
            text-align: center;
            border-right: 1px solid #d6d6d6;
        }

        .questionul li:last-child {
            border: none;
        }

        .questionul ul {
            float: left;
            width: 100%;
            margin: 0;
            background: #e7f5f7;
            padding: 10px;
        }

        .questionul li a {
            color: #21252a;
        }

        .questionul li a i {
            color: #29c0d4;
            padding-right: 5px;
        }

        .question-delete {
            box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.09);
            width: 45px;
            height: 45px;
            background: #fff;
            position: absolute;
            text-align: center;
            line-height: 45px;
            border-radius: 50%;
            color: #b73e3f;
            right: 8px;
            top: 13px;
            font-size: 16px;
            border: none;
            padding: 0;
            cursor: pointer;
        }

        @media all and (-ms-high-contrast: none),
        (-ms-high-contrast: active) {
            select {
                background-image: none !important;
            }
        }

        select {
            -moz-appearance: none !important;
            background-image: url(../images/drop.png)!important;
            background-position: 96% 51%;
            background-repeat: no-repeat;
            border: medium none;
            color: #868686;
            cursor: pointer;
            -webkit-appearance: none !important;
            appearance: none !important;
            border-radius: 5px;
            font-size: 14px;
            border: 1px solid #EEEEEE;
            letter-spacing: 0.5px;
            padding: 10px;
            width: 100%;
            background-color: #fff;
            outline: none;
        }

        select {
            -moz-appearance: none !important;
            background-image: url(../images/drop.png)!important;
            background-position: 96% 51%;
        }

        @media all and (-ms-high-contrast: none),
        (-ms-high-contrast: active) {
            select {
                background-image: none !important;
            }
        }

        select:focus {
            border-color: #175D7D;
            transition: ease 2s;
        }

        .filterwidth {
            float: left;
            width: 100%;
            margin-bottom: 15px;
            position: relative;
        }

        input[type=text] {
            font-size: 14px;
            color: #282828;
            background: #FFFFFF;
            border: 1px solid #EEEEEE;
            padding: 10px;
            padding-right: 35px;
            width: 100%;
            border-radius: 5px;
            outline: none;
        }

        .card-header {
            border-bottom: 0;
        }

        .adinbutton {
            text-align: right;
            display: inline-block;
            width: 100%;
        }

        .adinbutton button {
            background: #29c0d4;
            border: none;
            padding: 10px 30px;
            color: #fff;
            outline: none;
        }

        .card {
            margin-bottom: 10px;
        }

        .buttonsvaribale {
            float: left;
            width: 100%;
        }

        .buttonsvaribale button {
            float: left;
            width: 100%;
            background: #175D7D;
            border: none;
            border-radius: 5px;
            padding: 6px 30px;
            color: #fff;
            outline: none;
            cursor: pointer;
            margin: 4px 0;
        }

        .legalremindersub {
            float: left;
            width: 100%;
            position: relative;
            font-size: 14px;
            padding: 15px;
            padding-right: 60px;
            background: #f8f8f8;
            margin-bottom: 20px;
        }

        .actionlegal {
            position: absolute;
            top: 15px;
            right: 5px;
        }

        .actionlegal button {
            background: no-repeat;
            border: none;
            margin: 0;
            padding: 0 5px;
        }

        i.fas.fa-trash {
            color: #c52222;
        }

        .legalremindersub p {
            margin: 0;
        }

        .addnewitemtext {
            float: right;
            width: 100%;
            text-align: right;
            margin-bottom: 12px;
            color: #175d7d;
        }

        .addnewitemtext a {
            color: #175d7d;
        }

        .filterwidth textarea {
            width: 100%;
            display: inline-block;
            resize: none;
            border: 1px solid #EEEEEE;
            border-radius: 5px;
            min-height: 100px;
            padding: 10px;
            outline: none;
        }

        textarea:focus {
            border-color: #175D7D;
            transition: ease 2s;
        }

        .clausetabs {
            float: left;
            width: 100%;
        }

        .clausetabs ul a.nav-link {
            color: #175D7D;
        }

        .clausetabs ul a.nav-link.active {
            background: #ef7e3b;
            color: #fff;
        }

        .clausetabinner {
            float: left;
            width: 100%;
            margin-top: 20px;
            padding: 20px;
            background: #fff;
        }

        span.inputicons {
            position: absolute;
            right: 9px;
            top: 9px;
            color: #7E7E7E;
        }

        .collaspeinner.clausesaccordin .card-header {
            text-align: left;
            background: none;
            border-bottom: 1px solid #175d7d;
            padding-left: 0;
            padding-right: 0;
        }

        .collaspeinner.clausesaccordin .card {
            border: none;
            float: left;
            width: 100%;
        }

        .collaspeinner.clausesaccordin .card-header h5 button {
            text-align: left;
        }

        .clausesaccordin .panel-group {
            padding: 0;
            padding-top: 10px;
            background: #DBF0FF;
            width: 100%;
            padding: 10px;
            border-radius: 5px;
            color: #175D7D;
            margin-top: 10px;
        }

        .clausesaccordin .card-body {
            padding: 0;
        }

        .clausesaccordin .card-body h4 {
            font-size: 16px;
            color: #175D7D;
            margin: 0;
        }

        .clausesaccordin .card-body h4 a {
            color: #175D7D;
            width: 100%;
            font-weight: bold;
            font-size: 14px;
        }

        .clausesaccordin .card-body h4 i {
            float: right;
        }

        i.fas.fa-plus.addicon {
            font-size: 13px;
            padding-right: 10px;
            line-height: 20px;
            color: #ef7d3b;
        }

        .clausesaccordin .card-body p {
            font-size: 13px;
            color: #757575;
            padding: 10px 0;
            margin: 0;
        }

        .clausesaccordin .card-body .panel-body {
            border-top: 1px solid #175d7d;
            font-size: 13px;
            padding: 10px 0;
            color: #212529;
        }

        .legalcheck {
            position: absolute;
            left: 15px;
            top: 16px;
        }

        .legalremindersub.clauselegal {
            padding-left: 35px;
        }

        .submitbutton button {
            background: #175D7D;
            padding: 10px 25px;
            font-size: 14px;
            color: #FFFFFF;
            text-align: center;
            border-radius: 5px;
            border: none;
            cursor: pointer;
        }

        .submitbutton {
            float: left;
            width: 100%;
            text-align: center;
        }

        .addquestion-sub {
            float: left;
            width: 14%;
            text-align: left;
            padding: 10px;
            border: 1px solid #EEEEEE;
            font-size: 14px;
            background: #fff;
        }

        .customcheckboxmain {
            float: left;
            width: 100%;
            margin-top: 5px;
        }

        .customcheckboxmain input {
            /* float: left; */
            margin-right: 5px;
            display: inline-block;
        }

        @media (max-width: 1024px) {
            .question-data {
                width: 87%;
            }
        }

        .addquestion button {
            background: #29c0d4;
            border: none;
            padding: 10px 30px;
            color: #fff;
            outline: none;
            float: right;
            margin-bottom: 20px;
        }

        button.addquestionbutton {
            background: #29c0d4;
            border: none;
            padding: 10px 30px;
            color: #fff;
            outline: none;
            float: left;
        }

        .addquestion-area {
            border-radius: 5px;
            width: 100%;
            float: left;
            display: none;
            margin-bottom: 20px;
        }
